# Python Virtual Environment
venv/
env/
ven/
# Python Compiled Files
*.pyc
__pycache__/
instance/
# Local Development
*.env
.vscode/
.idea/
*.swp
# Logs and Temporary Files
*.log
*.tmp
*.pid
# Environment Configuration
config.cfg
config.ini
config.json
config.yaml
# GitHub Actions
.github/
# Random
TODO.txt
Get-DirectoryConents.ps1
deploy_image_ec2.py
# ssh key
*.pem
*.ppk