{% extends "base.html" %} {% block title %}MONITORING{% endblock %} {% block
content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
  .plotly-graph-div {
    margin: auto;
    width: 50%;
    background-color: rgba(151, 128, 128, 0.688);
    padding: 20px;
  }
</style>

<div class="container">
  <h1 style="text-align: center">System Monitoring</h1>
  <div id="cpu-gauge"></div>
  <div id="mem-gauge"></div>
  {% if message %}
  <div class="alert alert-danger">{{ message }}</div>
  {% endif %}
</div>

<script>
  var cpuGauge = {
    type: "indicator",
    mode: "gauge+number",
    value: {{ monitoring[0] }},
    gauge: {
      axis: { range: [null, 100] },
      bar: { color: "#1f77b4" },
      bgcolor: "white",
      borderwidth: 2,
      bordercolor: "#ccc",
      steps: [
        { range: [0, 50], color: "#d9f0a3" },
        { range: [50, 85], color: "#ffeb84" },
        { range: [85, 100], color: "#ff5f5f" }
      ],
      threshold: {
        line: { color: "red", width: 4 },
        thickness: 0.75,
        value: {{ monitoring[0] }}
      }
    }
  };

  var memGauge = {
    type: "indicator",
    mode: "gauge+number",
    value: {{ monitoring[1] }},
    gauge: {
      axis: { range: [null, 100] },
      bar: { color: "#1f77b4" },
      bgcolor: "white",
      borderwidth: 2,
      bordercolor: "#ccc",
      steps: [
        { range: [0, 50], color: "#d9f0a3" },
        { range: [50, 85], color: "#ffeb84" },
        { range: [85, 100], color: "#ff5f5f" }
      ],
      threshold: {
        line: { color: "red", width: 4 },
        thickness: 0.75,
        value: {{ monitoring[1] }}
      }
    }
  };

  var cpuGaugeLayout = { title: "CPU Utilization" };
  var memGaugeLayout = { title: "Memory Utilization" };

  Plotly.newPlot('cpu-gauge', [cpuGauge], cpuGaugeLayout);
  Plotly.newPlot('mem-gauge', [memGauge], memGaugeLayout);

  // Reload the page every second
  setInterval(function() {
    location.reload();
  }, 1000);
</script>
{% endblock %}
